._5pcb h2, #topicFeedsNav, #appsNav, #interestsNav, #developerNav, #navItem_page_408502197558, #navItem_357937250942127, #navItem_188619144602540, #navItem_400915586638539, #navItem_983686418327131, #navItem_230259100322928, #fbpurityinfobar, #navItem_6802152230, #navItem_285162308271788, #rightCol,
.fbSidebarGripper, ._1vc-, ._5umn, .hidepostlink, body._2yq .fbChatSidebar, ._5vb_.hasLeftCol #leftCol {
	display: none;
}
._5vb_.hasLeftCol.newsfeed #leftCol {
	display: block;
}
.fbJewel {
	margin-left: -17px !important;
	margin-top: 10px !important;
	#FBPBUTT {
		font-size: 12px !important;
		color: #fff !important;
		line-height: 27px !important;
		top: -2px !important;
		left: 0px;
		position: relative;
		text-decoration: none;
		padding: 6px 11px 6px;
		margin-right: 0px;
		border-radius: 2px;
		&.jewelButton {
			font-weight: 600 !important;
		}
		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
		&:before {
			background: #385490;
			background: rgba(0, 0, 0, 0.1);
			content: '';
			height: 17px;
			left: -1px;
			position: absolute;
			top: 5px;
			width: 1px;
		}
	}
}
* {
	font-family: -apple-system-font, Calibri, sans-serif !important;
	&:after {
		border: none !important;
	}
}
html body {
	font-size: 16px;
}

body ._14i5 {
	right: 0;
}
._5pbw, ._5pbx {
	font-size: 18px;
}
#contentCol * {
	font-family: Athelas, serif !important;
}
._42ef {
	overflow: hidden;
}
._5r69 {
	width: 80%;
	.clearfix.mtm {
		width: 100%;
	}
}
li._33c._4af div.anchorContainer *, #notifications_stream div._bqf._2vp7._2pi8 *, li.jewelItemNew *, #content div[data-testid="NOTIF_LIST_TEST_ID"] li._4vba {
	background-color: #ffc0cb !important;
}
._3zm- {
	&:hover a, & a:focus, & a._2myk {
		background: transparent;
	}
	& a:hover {
		background-color: rgba(0, 0, 0, 0.1) !important;
	}
}
html ._5vb_.hasLeftCol .hasRightCol div#contentArea, .fbTimelineTwoColumn, #globalContainer {
	width: auto !important;
}
#globalContainer, body #mainContainer #contentCol, #mainContainer #contentArea, ._2yq #contentArea {
	min-width: 784px !important;
	margin: auto !important;
}
#globalContainer {
	padding-top: 42px !important;
}
._4k20, .UFICommentContent ._2rn3, UFICommentContent ._4-eo {
	width: 100% !important;
}
._46-i, .uiScaledImageContainer img{
	border-radius: 10px;
}
.userContentWrapper a[rel="theater"], ._6l-, ._6m2, .clearfix, ._2a2q {
	margin: 0 auto;
}
._42nr {
	display: grid;
	grid-template-columns: 1fr 7em 7em 7em 1fr;
	&:before {
		content: " ";
	}
}
.userContentWrapper {
	.mtm {
		width: 470px;
		margin: 10px auto 0 auto;
	}
}
#headerArea, #contentArea, #u_0_2x {
	width: 100% !important;
}
html body #mainContainer {
	display: grid !important;
	grid-template-columns: 0 1fr;
}
html body._-kb .fb_content .clearfix[itemscope=itemscope] {
	display: grid !important;
	grid-template-columns: 175px 1fr 15px;
}
html body.hasLeftCol {
	#mainContainer {
		grid-template-columns: 207px 1fr;
	}
	#leftCol > div > div > div {
		width: 205px !important;
	}
	#globalContainer {
		width: calc(100vw - 227px) !important;
		margin: 2px !important;
	}
}
.coverWrap {
	@media screen and (max-width:1700px) {
		min-height: 275px !important;
	}
	@media screen and (max-width:1050px) {
		min-height: 250px !important;
	}
	@media screen and (min-width:1700px) {
		min-height: 320px !important;
	}
	@media screen and (min-width:2155px) {
		min-height: 400px !important;
	}
}
@media screen and (min-width:1270px) {
	.newsFeedComposer ._5pcb > div > div > div > div > div > div > div, #pagelet_group_mall ._5pcb, .fbTimelineCapsule #recent_capsule_container ol, .newsfeed div[role=feed] {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.groupJumpLayout ._5pcb > div  {
		width: 100% !important;
		padding: 0 !important;
		float: none !important;
		max-width: calc(50vw - 105px);
	}
	.async_saving ._5usc, #more_pager_pagelet_5670f212047cd9a07517991 {
		display: none !important;
	}
}
@media screen and (min-width: 2155px) {
	html body .2yq #mainContainer, body #streamPagelet, html body #mainContainer #contentArea, body #mainContainer #contentCol, body #content {
		width: 100% !important;
		min-width: 100% !important;
		margin: 0 !important;
	}
	.groupJumpLayout ._5pcb > div  {
		max-width: calc(33vw - 147px);
	}
	.newsFeedComposer ._5pcb > div > div > div > div > div > div > div, #pagelet_group_mall ._5pcb, .fbTimelineCapsule #recent_capsule_container ol, .newsfeed div[role=feed] {
		grid-template-columns: 1fr 1fr 1fr;
	}
	html body._2yq #globalContainer {
		width: calc(100vw - 227px) !important;
		margin: 2px !important;
	}
}
@media screen and (min-width: 3001px) {
	.newsFeedComposer ._5pcb > div > div > div > div > div > div > div, #pagelet_group_mall ._5pcb, .fbTimelineCapsule #recent_capsule_container ol, .newsfeed div[role=feed] {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.groupJumpLayout ._5pcb > div  {
		max-width: calc(50vw - 110px);
	}
	.newsFeedComposer ._5pcb > div > div > div > div > div > div > div > div:nth-child(5n) {
		display: none;
	}
}
.fbTimelineCapsule {
	& ._5nb8 {
		width: calc(100% - 338px);
	}
	&, div {
		width: auto !important;
	}
}
._4d6h._4p1p {
	padding: 10px 0 !important;
}
.dialog_body {
	position: fixed;
	bottom: 0;
	background-color: #99f;
	right: 0;
	left: 0;
	font-size: 20px;
	display: block;
}
#FBPNewsAlert {
	position: fixed !important;
	bottom: 0 !important;
	background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(128,0,0,0.6) 7%,rgba(255,0,0,0.85) 100%) !important;
	right: 0 !important;
	left: 0 !important;
	top: auto !important;
	font-size: 20px !important;
	text-align: center !important;
	display: none !important;
	a#FBPDismissNewsAlert {
		font-size: 32px;
	}
}
.pop_container_advanced {
	background: transparent;
}
.pop_content .dialog_content {
	background: transparent;
	border: none;
}
.generic_dialog_modal, .generic_dialog_fixed_overflow {
	background: transparent;
}
._3qx ._3ixn, .stageWrapper .stage {
	border-radius: 10px 0 0 10px;
	background-color: rgba(0,0,0,0.2) !important;
}
.stageWrapper img {
	border-radius: 10px;
}
._4d3w .photoUfiContainer {
	border-radius: 0 10px 10px 0;
}
#contentCol {
	body.timelineLayout & #contentArea {
		width: calc(100vw - 227px)!important;
	}
	body.timelineLayout.hasLeftCol & #contentArea {
		width: calc(100vw - 454px)!important;
	}
	.phm #mainContainer & {
		margin: 0 !important;
	}
}
.fbTimelineCapsule > div {
	width: 100% !important;
}
._55bh div, .fbJewel {
	float: left;
}
._dcs {
	&, ._5v3q ._4-eo {
		box-shadow: none !important;
	}
	& .__c_:after, ._6l-:after, .scaledImageFitWidth {
		border-color: transparent !important;
	}
}
div._4-u2.mvm._495i {
	width: 175px !important;
	top: -31px;
	margin-left: 8px;
}
._5r69, .uiScaledImageContainer, ._5v3q ._4-eo {
	width: 469px;
	margin: 0 auto;
}
._2yq #globalContainer {
	width: auto !important;
}
#entity_sidebar, .f_1iseox4w4t #u_0_4._2pie, .f_1iseox4w4t ._2pie._14i5._1qkx, .f_1iseox4w4t ._1qkq, #u_0_0._r_m {
	width: 100% !important;
	position: static !important;
}
#mainContainer, .pagesTimelineLayout #mainContainer > div, .pagesTimelineLayout #mainContainer > div #content_container > div, .f_1iseox4w4t .fb_content > div.clearfix, .f_1iseox4w4t #content_container > div.clearfix {
	display: grid;
	grid-template-columns: 180px 1fr 10px;
}
.pagesTimelineLayout #mainContainer > div #content_container > div {
	width: 100% !important;
	grid-template-columns: 1fr 308px;
}
.f_1iseox4w4t #content_container > div.clearfix {
	grid-template-columns: 300px 1fr 30px;
}
#leftCol > div > div {
	left: 0;
}
#globalContainer ._2pie #mainContainer #contentCol {
	width: calc(100vw - 227px) !important;
	._5vb_.hasLeftCol & {
		margin: 0 113px !important;
	}
	body._5vb_.hasLeftCol.newsfeed div & {
		margin: auto !important;
	}
}
._33f {
	width: 100%;
}
.livetimestamp {
	font-size: 10px !important;
}
body ._bui ._5afe .linkWrap {
	max-width: 146px;
}
