._5pcb #substream_0, ._5pcb #substream_1, ._5pcb h2, #topicFeedsNav, #appsNav, #interestsNav, #developerNav, #navItem_page_408502197558, #navItem_357937250942127, #navItem_188619144602540, #navItem_400915586638539, #navItem_983686418327131, #navItem_230259100322928, #fbpurityinfobar, #navItem_6802152230, #navItem_285162308271788, #rightCol, .fbSidebarGripper, ._1vc-, ._5umn {
  display: none;
}

.fbJewel {
  margin-left: -17px !important;
  margin-top: 10px !important;
}
.fbJewel #FBPBUTT {
  font-size: 12px !important;
  color: #fff !important;
  line-height: 27px !important;
  top: -2px !important;
  left: 0px;
  position: relative;
  text-decoration: none;
  padding: 6px 11px 6px;
  margin-right: 0px;
  border-radius: 2px;
}
.fbJewel #FBPBUTT.jewelButton {
  font-weight: 600 !important;
}
.fbJewel #FBPBUTT:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.fbJewel #FBPBUTT:before {
  background: #385490;
  background: rgba(0, 0, 0, 0.1);
  content: '';
  height: 17px;
  left: -1px;
  position: absolute;
  top: 5px;
  width: 1px;
}

* {
  font-family: -apple-system-font, Calibri, sans-serif !important;
}
*:after {
  border: none !important;
}

html body {
  font-size: 16px;
}

body ._14i5 {
  right: 0;
}

._5pbw, ._5pbx {
  font-size: 18px;
}

#contentCol * {
  font-family: Athelas, serif !important;
}

._42ef {
  overflow: hidden;
}

._5r69 {
  width: 80%;
}
._5r69 .clearfix.mtm {
  width: 100%;
}

._3zm-:hover a, ._3zm- a:focus, ._3zm- a._2myk {
  background: transparent;
}
._3zm- a:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

html ._5vb_._5vb_.hasLeftCol .hasRightCol div#contentArea, .fbTimelineTwoColumn, #globalContainer {
  width: auto !important;
}

#globalContainer, body #mainContainer #contentCol, #mainContainer #contentArea {
  min-width: 784px !important;
  margin: auto !important;
}

._4k20, .UFICommentContent ._2rn3, UFICommentContent ._4-eo {
  width: 100% !important;
  text-align: center;
}

._46-i, .uiScaledImageContainer img {
  border-radius: 10px;
}

.userContentWrapper a[rel="theater"], ._6l-, ._6m2, .clearfix, ._2a2q {
  margin: 0 auto;
}

._42nr {
  display: grid;
  grid-template-columns: 1fr 7em 7em 7em 1fr;
}
._42nr:before {
  content: " ";
}

.userContentWrapper .mtm {
  width: 470px;
  margin: 10px auto 0 auto;
}

#headerArea, #contentArea, #u_0_2x {
  width: 100% !important;
}

@media screen and (max-width: 1700px) {
  .coverWrap {
    min-height: 275px !important;
  }
}
@media screen and (max-width: 1050px) {
  .coverWrap {
    min-height: 250px !important;
  }
}
@media screen and (min-width: 1700px) {
  .coverWrap {
    min-height: 320px !important;
  }
}
@media screen and (min-width: 2155px) {
  .coverWrap {
    min-height: 400px !important;
  }
}

@media screen and (min-width: 1900px) {
  	/*._5pcb > div > div > div > div > div > div {
  	display: flex;
  	flex: 1 0 25%;
  	flex-wrap: wrap;
  	align-items: center;
  	justify-content: space-around;
  	flex-container: center;
  	> div {
  	max-width: 50%;
  	min-width: 15%;
  }
  }*/
  .newsFeedComposer ._5pcb > div > div > div > div > div > div, #pagelet_group_mall ._5pcb {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

 /*
._5pcb ._3x-2 {
grid-template-columns: 0px 1fr;
}
._5pcb ._3x-2 > div {
margin: 0 auto;
}*/
  .groupJumpLayout ._5pcb > div {
    width: 100% !important;
    padding: 0 !important;
    float: none !important;
  }

  .async_saving ._5usc, #more_pager_pagelet_5670f212047cd9a07517991 {
    display: none !important;
  }
}
@media screen and (min-width: 2155px) {
  body #mainContainer, body #streamPagelet, body #mainContainer #contentArea, body #mainContainer #contentCol, body #content, body #globalContainer {
    width: 100% !important;
  }
}

@media screen and (min-width: 2155px) {
  html body #mainContainer #contentArea {
    width: 100% !important;
  }
}

.fbTimelineCapsule ._5nb8 {
  width: calc(100% - 338px);
}
.fbTimelineCapsule, .fbTimelineCapsule div {
  width: auto !important;
}

._4d6h._4p1p {
  padding: 10px 0 !important;
}

.dialog_body {
  position: fixed;
  bottom: 0;
  background-color: #99f;
  right: 0;
  left: 0;
  font-size: 20px;
  text-align: center;
  display: block;
}

#FBPNewsAlert {
  position: fixed !important;
  bottom: 0 !important;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(128, 0, 0, 0.6) 7%, rgba(255, 0, 0, 0.85) 100%) !important;
  right: 0 !important;
  left: 0 !important;
  top: auto !important;
  font-size: 20px !important;
  text-align: center !important;
  display: none !important;
}
#FBPNewsAlert a#FBPDismissNewsAlert {
  font-size: 32px;
}

.pop_container_advanced {
  background: transparent;
}

.pop_content .dialog_content {
  background: transparent;
  border: none;
}

.generic_dialog_modal, .generic_dialog_fixed_overflow {
  background: transparent;
}

._3qx ._3ixn, .stageWrapper .stage {
  border-radius: 10px 0 0 10px;
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.stageWrapper img {
  border-radius: 10px;
}

._4d3w .photoUfiContainer {
  border-radius: 0 10px 10px 0;
}

.timelineLayout #contentCol #contentArea {
  width: 100% !important;
}
.phm #mainContainer #contentCol {
  margin: 0 !important;
}

._55bh div, .fbJewel {
  float: left;
}

._dcs, ._dcs ._5v3q ._4-eo {
  box-shadow: none !important;
}
._dcs .__c_:after, ._dcs ._6l-:after, ._dcs .scaledImageFitWidth {
  border-color: transparent !important;
}

div._4-u2.mvm._495i {
  width: 175px !important;
  top: -31px;
  margin-left: 8px;
}

._5r69, .uiScaledImageContainer, ._5v3q ._4-eo {
  width: 469px;
  margin: 0 auto;
}

._2yq #globalContainer {
  width: auto !important;
}

#entity_sidebar, .f_1iseox4w4t #u_0_4._2pie, .f_1iseox4w4t ._2pie._14i5._1qkx, .f_1iseox4w4t ._1qkq, #u_0_0._r_m {
  width: 100% !important;
  position: static !important;
}

#mainContainer, .pagesTimelineLayout #mainContainer > div, .pagesTimelineLayout #mainContainer > div #content_container > div, .f_1iseox4w4t .fb_content > div.clearfix, .f_1iseox4w4t #content_container > div.clearfix {
  display: grid;
  grid-template-columns: 180px 1fr 10px;
}

.pagesTimelineLayout #mainContainer > div #content_container > div {
  width: 100% !important;
  grid-template-columns: 1fr 308px;
}

.f_1iseox4w4t #content_container > div.clearfix {
  grid-template-columns: 300px 1fr 30px;
}

#leftCol > div > div {
  left: 0;
}

#globalContainer ._2pie #mainContainer #contentCol {
  width: calc(100% - 4px) !important;
  margin: auto;
}
